/* CSS Variables for easy theming */
:root {
    --primary-color: #d1b25d;
    --secondary-color: #a29bfe;
    --bg-color: #fbff00;
    --text-color: #2d3436;
    --white: #ffffff;
    --danger: #c51325;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: var(--white);
    width: 100%;
    max-width: 450px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

header p {
    color: #636e72;
    margin-bottom: 20px;
}

/* Input Section */
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #b2bec3;
    border-radius: 20px;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: var(--primary-color);
}

button#addBtn {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button#addBtn:hover {
    background-color: var(--secondary-color);
}

/* Task List Styling */
ul {
    list-style: none;
    margin-bottom: 20px;
}

li {
    background: #f1f2f6;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

li:hover {
    transform: translateX(5px);
}

/* Class added by JS when task is done */
li.completed {
    text-decoration: line-through;
    color: #b2bec3;
    background: #e1e1e1;
}

.delete-icon {
    color: var(--danger);
    cursor: pointer;
    padding: 5px;
}

.footer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

#clearBtn {
    background: rgb(30, 13, 1);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    border-radius: 1000px;
    cursor: pointer;
}
